html {
   scroll-behavior: smooth;
}

body {
   background-image: url("zen.jpg");
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: 100vw 100vh;
}

.card {
   opacity: 0.8;
}
#quotes-header {
width: 49%;
margin-right: 6px;
}
#notes-header{
width: 49%;
margin-left: 6px;
}
/* .col {opacity:0} */